APP_DEBUG = trueAPP_TRACE = false;# local本地APP_ENV = local# 域名APP_URL = https://www.example.comBACK_URL = http://api.example.com[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 192.168.154.10DATABASE = ai_gptUSERNAME = rootPASSWORD = 123456HOSTPORT = 3307CHARSET = utf8mb4DEBUG = truePREFIX = gpt_[LANG]default_lang = zh-cn# JWT key值[JWT]JWT_KEY_WEB = F5BHA2ewmGvC1aB4oR1bdF3bBaB4oRJWT_KEY_ADMIN = C1aA0oE4R0xA5aC0saGeG0pF2n0aE8dJWT_KEY_SILENCE = gbBrABFTvXLAUpTec09nuVSZYoysf2[SECRET]USER = YourEncryptionKey1234567890123456[WECHAT]WHITE_LIST =1,2,8,6